celery==5.3.6
Django==5.0.3
django-admin-interface==0.28.6
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-filter==24.1
django-nested-admin==4.0.2
djangorestframework==3.15.1
django-storages==1.14.2
django-widget-tweaks==1.5.0
psycopg2==2.9.9 --no-binary psycopg2
pur==7.3.1
pylint==3.1.0
pylint-django==2.5.5
pylint-fail-under==0.3.0
pylint-plugin-utils==0.8.2
requests==2.31.0
sentry-sdk==1.43.0
URLObject==2.4.3
wheel==0.43.0

#Signals&Socery

websockets==12.0
dawnet_client
aiohttp
django-storages[google]==1.14.2
google-cloud-secret-manager==2.19.0
google-cloud-storage==2.16.0
drf_yasg==1.21.7
django-allauth==0.61.1
django-allauth-ui==0.2.2
django-widget-tweaks==1.5.0
djangorestframework-simplejwt==5.3.1
langchain==0.2.6
langchain-core==0.2.10
langchain-text-splitters==0.2.2
langchain-openai==0.1.13
langchain-community==0.2.6
networkx==3.3
